.location-box {
    padding: 15px;
    display: flex;
    flex-direction: column;
    border: solid 5px #9fe6a0;
    border-radius: 15px;
    background-color: #206a5d;
    font-family: Century;
    color: #9fe6a0;
}

.loc-title {
    margin: 0;
    margin-bottom: 5px;
    text-align: center;
    font-size: 27px;
}

.loc-type {
    margin: 5px 0;
    font-size: 22.5px;
}

.loc-dimension {
    margin: 5px 0;
    font-size: 22.5px;
}

.loc-residents {
    margin: 5px 0;
    font-size: 22.5px;
}