p {
    margin: 2.5px;
    font-size: 15px;
}

.card {
    margin: 10px;
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    background-color: #1e212d;
    overflow: hidden;
    color: #fff;
    border-radius: 1rem;
}

.card-img-top {
    height: 300px;
    width: 300px;
}

.card-body {
    padding: 20px 0;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card-header {
    margin: 0;
    margin-bottom: 20px;
}

.card-name {
    margin: 0;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
}

.card-status {
    margin: 0;
    font-size: 15px;
    display: flex;
}

.status-light {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    border-radius: 50%;
}

.data {
    margin: 0;
    margin-left: 50px;
    font-size: 20px;
    font-weight: bold;
}

.episodes {
    display: inline;
}