.input-search {
    width: 125px;
    height: 40px;
    background-color: #9fe6a0;
    border: solid 4px #206a5d;
    border-right: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #206a5d;
    font-size: 15px;
    font-weight: bold;
}

.button-search {
    width: 75px;
    height: 50px;
    background-color: #206a5d;
    border: solid 4px #206a5d;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #9fe6a0;
    font-size: 15px;
    font-weight: bold;
}

.button-search:hover {
    background-color: #9fe6a0;
    color: #206a5d;
}