.body {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: #383e56;
}

.banner {
  padding: 15px;
  background-color: #fffbdf;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.banner-search-box {
  padding: 20px 0;
}

.title {
  margin: 0;
  font-family: "Impact";
  font-size: 50px;
  color: #16c79a;
}

.banner-location {
  display: flex;
  justify-content: center;
  align-items: center;
}