.body {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: #383e56;
}

.banner {
  padding: 15px;
  background-color: #e1e5ea;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.banner-search-box {
  padding: 20px 0;
}

.logo {
  width: 350px;
  height: 130px;
}

.subtitle {
  color: #16c79a;
  margin: 0;
  margin-bottom: 5px;
  font-size: 18px;
}

.banner-location {
  display: flex;
  justify-content: center;
  align-items: center;
}